<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>지하철 노선도</string>
		<key>Photo</key>
		<string>01</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>택시 요금 계산</string>
		<key>Photo</key>
		<string>02</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>위치</string>
		<key>Photo</key>
		<string>03</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>단어카드</string>
		<key>Photo</key>
		<string>04</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>쇼핑리스트</string>
		<key>Photo</key>
		<string>05</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>준비물 리스트</string>
		<key>Photo</key>
		<string>06</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>QA</string>
		<key>Photo</key>
		<string>07</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>쿠폰</string>
		<key>Photo</key>
		<string>08</string>
	</dict>
</array>
</plist>
